<%= simple_form_for @review do |f| %>

  <% if @review.errors.any? %>
    <div class="errors">
      <% @review.errors.full_messages.each do |message| %>
        <p>
          <%= message %>
        </p>
      <% end %>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :restaurant %>
  <%= f.input :address, as: :string %>
  <%= f.input :body %>
  <%= f.input :photo %>
  <%= f.input :cuisine %>
  <%= f.input :price, as: :radio_buttons, collection: [['$', '1'], ['$$', '2'], ['$$$', '3']] %>
  <!-- <p>
    <%= f.label :price, "Price"  %>
    <%= f.number_field :price, within: 1..3 %>
  </p> -->
  <%= f.input :ambiance %>
  <%= f.input :score %>
  <%= f.button :submit  %>
<% end %>
